/.gitattributes text eol=lf
* text=auto
*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf
*.cff text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.svg text eol=lf
*.sha256 text eol=lf
*.png binary
*.pdf binary
*.gz binary
*.npy binary
*.npz binary
*.pt binary
*.pth binary
